@import "tailwindcss";
@import 'material-symbols';

@theme {
  --color-primary: #6C5DD3;
  --color-warning: #e4c53c;
  --color-bg-primary: #FFFFFF;
  --color-bg-secondary: #F8F9FC;
  --color-text-primary: #2E2E2E;
  --color-text-secondary: #7C7C8A;
  --color-text-disabled: #B0B0B8;
  --color-completed: #29CB5C;

  --font-family-base: 'Inter', sans-serif;
}
