@import "tailwindcss";

:root {
  --color-primary: #6C5DD3;
  --color-warning: #F5C35C;
  --color-bg-primary: #FFFFFF;
  --color-bg-secondary: #F8F9FC;
  --color-text-primary: #2E2E2E;
  --color-text-secondary: #7C7C8A;
  --color-text-disabled: #B0B0B8;
  --color-completed: #4BBF73;
}

.bg-primary {
  background-color: var(--color-primary);
}
.bg-warning {
  background-color: var(--color-warning);
}
.bg-bg-primary {
  background-color: var(--color-bg-primary);
}
.bg-bg-secondary {
  background-color: var(--color-bg-secondary);
}

.text-primary {
  color: var(--color-text-primary);
}
.text-secondary {
  color: var(--color-text-secondary);
}
.text-disabled {
  color: var(--color-text-disabled);
}
.text-completed {
  color: var(--color-completed);
}